*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

@font-face {
    font-family: "YatraOne";
    src: url(./font/YatraOne-Regular.ttf);
}

@font-face {
    font-family: "Ubuntu";
    src: url(./font/Ubuntu-Regular.ttf);
}
.page-a {
    background: url(./image/nouille.jpg) center/cover;
    color: white;
    height: 500px;
}

.page-a .titre{
    text-align: center;
    font-size: 5rem;
    padding: 100px;
}

h2, h1, h3
{
    font-family: YatraOne;
}

p
{
    font-family: Ubuntu;
}

.titre {
    text-align: left;
    font-size: 3rem;
}

.menu
{
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.menu a
{
    color: white;
    font-size: 1,5rem;
}


.menu li.acceuil:hover
{
    background: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.a-propos:hover
{
    background: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.carte:hover
{
    background-color: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li.contact:hover
{
    background-color: rgba(128, 128, 128, 0.699);
    transition: 0,4s;
}

.menu li
{
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, 0.445);
    border: 3px solid white;
}


.introduction
{
    color: white;
    height: 300px;
    background: url("./image/noir.jpg");
    padding: 100px;
    border: 1px solid black;
    
}

.introduction h2{
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    margin-bottom: 50px;
}

.introduction {
    text-align: center;
    font-size: 2rem;
}

.new
{
    background-color: rgb(238, 222, 141);
    max-height: 600px;
    display: flex;
    justify-content:space-between;
    padding: 70px;
}

#cartouille
{
    float: right;
    width: 400px;
    box-sizing: border-box;
    box-shadow: 4px 4px 12px 7px black;
    border-radius: 30px;
    
}
.la-barbouille
{
    display: flex;
    
    justify-content: space-around;
    max-height: 600px;
    padding: 70px;
    padding-top: 100px;
}

#La-barbouille
{
    width: 400px;
    box-sizing: border-box;
    box-shadow: 4px 4px 12px 7px black;
    border-radius: 30px;
}

.la-barbouille p
{
    font-size: 2rem;
    margin-top: 20px;
    padding-left: 40px;
}

.recette
{
    padding-left: 40px;
}
.recette
{
font-size: 3rem;
}
.new h2
{
    text-align: center;
}

.new p
{
    font-size: 2rem;
    margin-top: 20px;
}



.formulaire
{
    background-color: gray;
    color: white;
}

.formulaire h2
{
    text-align: center;
    font-size: 3rem;
}
form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "no pr"
    "ma te"
    "cv cv"
    "le le"
    "tx tx"
    "vd bt";
    padding: 50px;
}

input, textarea{
    margin: 5px 70px;
    padding: 10px;
    height: 30px;
    border: 2px solid black;
}

#submit
{
    grid-area: bt;
}
#cv
{
    grid-area: cv;
    border: none;
}

#lettre
{
    grid-area: le;
    border: none;
}

textarea
{
    grid-area: tx;
    height: 100px;
}

footer
{
    height: 800px;
}

.map
{
    background: white;
    display: flex;
    padding: 100px;

}

.map i
{
    margin: 20px;
    font-size: 2rem;
    
}

.map .informations
{
    background: rgb(141, 91, 91);
    color: white;
    margin-top: 90px;
    margin-left: -150px;
    height: 450px;
    width: 600px;
}

.informations h1
{
    text-align: center;
    font-size: 3rem;
}

.information p, .information i
{
    font-size: 2rem;
    padding: 70px;
}

a
{
    color: white;
}